<div class="top">
  <div
    class="flex flex-wrap items-center gap-x-2 gap-y-1 sm:text-[20px] md:text-[35px] text-[25px] inter-intro font-[400]">
    <p class="flex items-center gap-x-2">
      Welcome to my blog
      <img src="assets/intro.png" class="w-[20px] sm:h-[28px] sm:w-[28px]">
    </p>
    <p>I'm Anmol and here to document my latest explorations.</p>
  </div>

  <div
    class="md:flex md:flex-row md:gap-6 sm:flex sm:flex-col flex flex-col justify-between mt-[60px] md:justify-start">
    <div class="flex flex-col items-center sm:w-full md:w-[40%]  max-h-[500px] rounded-lg dark:">
      <img src="assets/pic.jpg" alt="anmol:)" width="200px" class="rounded-full">
      <p class="text-center inter-intro font-[500] mt-0 px-6 py-2 rounded-lg mt-2">Full stack
        developer</p>
      <div class="flex gap-2 mt-7">
        <a href="https://github.com/dev-anmol" class="p-2 rounded-lg">
          <img src="assets/github-mark.png" alt="Github" width="25" class="rounded-full cursor-pointer bg-white   ">
        </a>
        <a href="https://linkedin.com/in/anmol-thakur-4875191b7/" class="p-2 rounded-lg">
          <img src="assets/linkedin.png" width="25" class="rounded-full cursor-pointer" alt="Linkedin">
        </a>
        <a href="https://x.com/anmo1ll" class="p-2 rounded-lg">
          <img src="assets/twitter.png" width="25" class="rounded-full cursor-pointer bg-white" alt="Twitter">
        </a>
        <a href="https://instagram.com/a.nmolll" class="p-2 rounded-lg">
          <img src="assets/ig.png" width="25" class="rounded-full cursor-pointer" alt="Instagram">
        </a>
      </div>

      <div class="  w-full flex flex-col items-center justify-center p-4 gap-4">
        <div class="flex gap-5 w-full items-center justify-start p-2 rounded-lg">
          <div>
            <img src="assets/location.png" alt="location" width="23">
          </div>
          <div>
            <p class="text-sm" [ngClass]="themeType() === 'dark' ? 'text-white/90' : 'text-gray-900'">location</p>
            <p>{{ location }}</p>
          </div>
        </div>
        <div class="flex gap-5 w-full items-center justify-start p-2 rounded-lg">
          <div>
            <img src="assets/gmail.png" alt="email" width="23">
          </div>
          <div>
            <p class="text-sm" [ngClass]="themeType() === 'dark' ? 'text-white/90' : 'text-gray-900'">Email</p>
            <p>{{ email }}</p>
          </div>
        </div>

      </div>
    </div>

    <div class="md:w-[80%] md:mt-0 mt-10 flex flex-col gap-10 items-center  p-4 rounded-lg">
      <div class="w-full md:flex md:justify-end gap-5 items-center justify-center p-2 hidden md:block">
        <button [ngClass]="contentType() === 'Home' ? 'selected' : null" (click)="updateContent('Home')"
                class="px-5 py-2 rounded-lg font-[500] cursor-pointer">Home
        </button>
        <button [ngClass]="contentType() === 'Resume' ? 'selected ' : null" (click)="updateContent('Resume')"
                class="px-5 py-2 rounded-lg font-[500] cursor-pointer">Resume
        </button>
        <button [ngClass]="contentType() === 'Skills' ? 'selected ': null" (click)="updateContent('Skills')"
                class="px-5 py-2 rounded-lg font-[500] cursor-pointer">Skills
        </button>
        <button [ngClass]="contentType() === 'Projects' ? 'selected ' : null" (click)="updateContent('Projects')"
                class="px-5 py-2 rounded-lg font-[500] cursor-pointer">Projects
        </button>
        <button [ngClass]="contentType() === 'Contact' ? 'selected ' : null" (click)="updateContent('Contact')"
                class="px-5 py-2 rounded-lg font-[500] cursor-pointer">Contact
        </button>
      </div>

      <!--      content here -->
      @if (contentType() === "Home") {
        <app-home></app-home>
      } @else if (contentType() === "Resume") {
        <app-resume></app-resume>
      } @else if (contentType() === "Projects") {
        <app-projects></app-projects>
      } @else if (contentType() === "Skills") {
        <app-skills></app-skills>
      } @else {
        <app-contact></app-contact>
      }
    </div>
  </div>
</div>

