<p-toast></p-toast>
<section class="flex justify-center items-center">
  <div class="text-white/90 min-w-[400px] shadow-2xl rounded-2xl bg-[#262627]">
    <div class="flex flex-col p-4 gap-4">
      <div>
        <p class="text-center text-lg">Welcome Back</p>
        <div class="flex flex-row items-center gap-2 justify-center">
          <p class="text-xs text-gray-300">got some new idea:)</p>
          <p class="text-xs text-gray-300">lets share it</p>
        </div>
      </div>

      <div class="flex flex-col gap-2">
        <input type="text" (input)="updateUsername($event)" class="bg-[#1B1B1B] rounded-lg focus:outline-none text-sm p-2" placeholder="Username">
        <input type="password" (input)="updatePassword($event)" class="bg-[#1B1B1B] rounded-lg focus:outline-none text-sm p-2" placeholder="password">
      </div>

      <div>
        <button (click)="login()" class="text-sm bg-[#3E34D3] hover:bg-[#2E2BB3] transition-colors duration-400 w-full p-1 rounded-lg cursor-pointer">Create blog</button>
      </div>
    </div>
  </div>
</section>
